[include]
	path = ~/.gitconfig_local
[cli]
[color]
	ui = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[alias]
	stat = status -sb
	graph = log --oneline --graph --decorate
	sync = !git pull --rebase && git push
	cruft = clean -nxdf
[github]
	user = iwillspeak
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[push]
	default = simple
[init]
	defaultBranch = main
[pull]
	rebase = true
